body {
	font-size: 16px;
} 


header {
	margin: 0;
	padding: 2rem 0;
	text-align: center;
}
h1 {
	margin: 0;
	font-size: 1.5rem;
}
section {
	margin: 0 auto;
	width: 80%;
	background-color: #fff;
	padding: 10px;
	border:  1px solid #000;
}
}
section form {
	padding: : 2rem;

}
section form > div {
	width: 49.5%;
	margin: 0;
	padding: 0;
	display: inline-block;
}
section form > div:first-child {
	width: 100%;
}
section form > div > label,
section form > div >input {
	display: block;
}
section form > div > input, select {
	width: 90%;
	padding: 6px;
}

button {
	background-color: #0040FF;
	color: #fff;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
    font : 15px "typewriter", sans-serif;
}

.encabezado-y-pie-del-form {
	background-color: #D8D8D8; 
	padding: 10px;
	border: 1px solid #6E6E6E;
	margin-bottom: 6px;
	margin-left: -10px;
}